
	<h3>Team Members</h3>

	<ul>
		<% @contacts.each do |contact| %>
			<li><%= "#{contact[:title]} - #{contact[:name]}"  %></li>
		<% end %>
	</ul>


	<!-- Final Result: -->
	<!-- 	
	<ul>
		<li>President - Steve Jobs</li>
		<li>CEO - Tim Cook</li>
		<li>Designer - John Ives</li>
	</ul> 
	-->





	<p>Address: lsjflk</p>
	<p>Phone: 9099999999</p>
	<p>Email: george.dagher@nycda.com</p>
