
<form action="/signup" method="POST">
	
	<div>
		<input type="text" name="f_name">
	</div>

	<div>
		<input type="text" name="l_name">
	</div>

	<div>
		<input type="text" name="email">
	</div>

	<div>
		<input type="password" name="password">
	</div>

	<div>
		<input type="submit" value="Submit">
	</div>

</form>